li{
    list-style: none;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    background-color: hsl(235, 21%, 11%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    position: relative;
    .checkBox{
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    p{
        margin: 0px 10px;
    }    
    button{
        // position: absolute;
        right: 0;
        padding: 8px;
        border: none;
        cursor: pointer;
        background-color: rgba(60, 170, 60, 0.884);
        border-radius: 8px;
        font-size: .9rem;
        margin: 0 8px;
        &:hover{
            background-color: rgba(16, 131, 16, 0.884);
        }
    }
}

.completed {
    text-decoration: line-through;
    color: rgba(168, 122, 30, 0.795);
}

.uncompleted {
    text-decoration: none;
}